@use "common/var" as *;
@use "mixins/mixins" as *;

@include b(switch) {
	display: inline-flex;
	align-items: center;
	width: 45px;
	height: 32px;
	font-size: 12px;
	@include e(wrapper) {
		width: 100%;
		height: 60%;
		border-radius: 100px;
		background-color: #d7d8da;
		border: 1px solid #d7d8da;
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		overflow: visible;
		padding: 0;
		margin: 0;
		cursor: pointer;
		vertical-align: bottom;
		transition: 200ms cubic-bezier(0.645, 0.045, 0.355, 1) all;
		@include when(disabled) {
			background-color: #d7d8da;
			border: 1px solid #d7d8da;
			cursor: not-allowed;
			color: $li--disabled-color-base;
		}
		@include m(default) {
			background-color: darken($li--color-default, $amount: 20%);
			border: 1px solid darken($li--color-default, $amount: 20%);
			color: $li--color-white;
			@include when(disabled) {
				cursor: not-allowed;
				color: $li--disabled-color-base;
			}
		}
		@include m(primary) {
			background-color: $li--color-primary;
			border: 1px solid $li--color-primary;
			color: $li--color-white;
			@include when(disabled) {
				background-color: $li--color-primary-light-5;
				border: 1px solid $li--color-primary-light-5;
				cursor: not-allowed;
				color: $li--disabled-color-base;
			}
		}
		@include m(success) {
			background-color: $li--color-success;
			border: 1px solid $li--color-success;
			color: $li--color-white;
			@include when(disabled) {
				background-color: $li--color-success-light-5;
				border: 1px solid $li--color-success-light-5;
				cursor: not-allowed;
				color: $li--disabled-color-base;
			}
		}
		@include m(danger) {
			background-color: $li--color-danger;
			border: 1px solid $li--color-danger;
			color: $li--color-white;
			@include when(disabled) {
				background-color: $li--color-danger-light-5;
				border: 1px solid $li--color-danger-light-5;
				cursor: not-allowed;
				color: $li--disabled-color-base;
			}
		}
		@include m(warning) {
			background-color: $li--color-warning;
			border: 1px solid $li--color-warning;
			color: $li--color-white;
			@include when(disabled) {
				background-color: $li--color-warning-light-5;
				border: 1px solid $li--color-warning-light-5;
				cursor: not-allowed;
				color: $li--disabled-color-base;
			}
		}
		@include m(info) {
			background-color: $li--color-info;
			border: 1px solid $li--color-info;
			color: $li--color-white;
			@include when(disabled) {
				background-color: $li--color-info-light-5;
				border: 1px solid $li--color-info-light-5;
				cursor: not-allowed;
				color: $li--disabled-color-base;
			}
		}
	}
	@include e(inner) {
		display: inline-block;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		user-select: none;
		position: relative;
		transition: 200ms cubic-bezier(0.645, 0.045, 0.355, 1) all;
		overflow: hidden;
		@include m(left) {
			position: absolute;
			left: 10%;
		}
		@include m(right) {
			position: absolute;
			left: 50%;
		}
	}
	@include e(circle) {
		width: 16px;
		height: 16px;
		position: absolute;
		border-radius: 50%;
		margin-left: 0.1rem;
		background-color: white;
		z-index: 1;
		transition: 200ms cubic-bezier(0.645, 0.045, 0.355, 1) all;
		left: 0.1rem;
		@include when(left) {
			left: 20px;
		}
	}
}
