@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;

@include b(table-item) {
	width: 100%;
	font-weight: bold;
	text-transform: capitalize; // 首字母大写
	padding: 12px 8px;
	color: $li--color-info;
	border: solid 1px transparent;
	border-bottom: solid 1px #eee;
	@include m(border) {
		border-top: solid 1px #ddd;
		border-right: solid 1px #ddd;
	}
	@include m(border-left) {
		border-left: solid 1px #ddd;
	}
}
