@use "./common/var.scss" as *;
@use "./mixins/mixins.scss" as *;

@include b(text) {
	align-self: center;
	margin: 0;
	padding: 0;
	font-size: $li--font-size-base;
	overflow-wrap: break-word;
	@include m(default) {
		color: $li--color-text-primary;
	}
	@include m(primary) {
		color: $li--color-primary;
	}
	@include m(success) {
		color: $li--color-success;
	}
	@include m(danger) {
		color: $li--color-danger;
	}
	@include m(warning) {
		color: $li--color-warning;
	}
	@include m(info) {
		color: $li--color-info;
	}
	@include m(bold) {
		font-weight: bold;
	}
	@include m(is-truncated) {
		display: inline-block;
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	@include m(is-clamp) {
		display: -webkit-inline-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	@include m(bline) {
		text-decoration: solid 1px #000;
		text-decoration-line: underline;
	}
	@include m(mline) {
		text-decoration: solid 1px #000;
		text-decoration-line: line-through;
	}
	@include m(tline) {
		text-decoration: solid 1px #000;
		text-decoration-line: overline;
	}
	@include m(mark) {
		background-color: yellow;
		margin-left: 1px;
		margin-right: 1px;
	}
}
