.vitepress-demo-preview__element-plus__container {
	overflow: inherit !important;
}
.dark {
	color: white;
	body {
		--vp-sidebar-bg-color: black;
		color: white;
		::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}
		::-webkit-scrollbar-corner {
			background-color: transparent;
		}
		::-webkit-scrollbar-track {
			background-color: transparent;
		}
		::-webkit-scrollbar-thumb {
			border-radius: 8px;
			background-color: #2d2d2d;
			&:hover {
				background-color: #3e3e3e;
			}
		}
	}
}
:root {
	--vp-sidebar-bg-color: white;
}
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: inherit !important;
		animation-duration: inherit !important;
		animation-iteration-count: inherit !important;
		background-attachment: inherit !important;
		scroll-behavior: inherit !important;
		transition-duration: 0.25s !important;
		transition-delay: inherit !important;
	}
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #eeeef3;
	&:hover {
		background-color: #dcdceb;
	}
}
