$li--color-primary: #535bf2 !default;
$li--color-white: #fff !default;
$li--color-black: #000 !default;
$li--color-success: #07c160 !default;
$li--color-warning: #f2d553 !default;
$li--color-danger: #f25353 !default;
$li--color-info: #a3a8c3 !default;
$li--color-default: #eee !default;

$li--color-disbaled: #e5e5e5 !default;

$li--input-base-height: 30px !default;

$li--color-default-light-1: mix(
	$li--color-white,
	$li--color-default,
	10%
) !default;
$li--color-default-light-2: mix(
	$li--color-white,
	$li--color-default,
	20%
) !default;
$li--color-default-light-3: mix(
	$li--color-white,
	$li--color-default,
	30%
) !default;
$li--color-default-light-4: mix(
	$li--color-white,
	$li--color-default,
	40%
) !default;
$li--color-default-light-5: mix(
	$li--color-white,
	$li--color-default,
	50%
) !default;
$li--color-default-light-6: mix(
	$li--color-white,
	$li--color-default,
	60%
) !default;
$li--color-default-light-7: mix(
	$li--color-white,
	$li--color-default,
	70%
) !default;
$li--color-default-light-8: mix(
	$li--color-white,
	$li--color-default,
	80%
) !default;
$li--color-default-light-9: mix(
	$li--color-white,
	$li--color-default,
	90%
) !default;

$li--color-primary-light-1: mix(
	$li--color-white,
	$li--color-primary,
	10%
) !default;
$li--color-primary-light-2: mix(
	$li--color-white,
	$li--color-primary,
	20%
) !default;
$li--color-primary-light-3: mix(
	$li--color-white,
	$li--color-primary,
	30%
) !default;
$li--color-primary-light-4: mix(
	$li--color-white,
	$li--color-primary,
	40%
) !default;
$li--color-primary-light-5: mix(
	$li--color-white,
	$li--color-primary,
	50%
) !default;
$li--color-primary-light-6: mix(
	$li--color-white,
	$li--color-primary,
	60%
) !default;
$li--color-primary-light-7: mix(
	$li--color-white,
	$li--color-primary,
	70%
) !default;
$li--color-primary-light-8: mix(
	$li--color-white,
	$li--color-primary,
	80%
) !default;
$li--color-primary-light-9: mix(
	$li--color-white,
	$li--color-primary,
	90%
) !default;

$li--color-success-light-1: mix(
	$li--color-white,
	$li--color-success,
	10%
) !default;
$li--color-success-light-2: mix(
	$li--color-white,
	$li--color-success,
	20%
) !default;
$li--color-success-light-3: mix(
	$li--color-white,
	$li--color-success,
	30%
) !default;
$li--color-success-light-4: mix(
	$li--color-white,
	$li--color-success,
	40%
) !default;
$li--color-success-light-5: mix(
	$li--color-white,
	$li--color-success,
	50%
) !default;
$li--color-success-light-6: mix(
	$li--color-white,
	$li--color-success,
	60%
) !default;
$li--color-success-light-7: mix(
	$li--color-white,
	$li--color-success,
	70%
) !default;
$li--color-success-light-8: mix(
	$li--color-white,
	$li--color-success,
	80%
) !default;
$li--color-success-light-9: mix(
	$li--color-white,
	$li--color-success,
	90%
) !default;

$li--color-warning-light-1: mix(
	$li--color-white,
	$li--color-warning,
	10%
) !default;
$li--color-warning-light-2: mix(
	$li--color-white,
	$li--color-warning,
	20%
) !default;
$li--color-warning-light-3: mix(
	$li--color-white,
	$li--color-warning,
	30%
) !default;
$li--color-warning-light-4: mix(
	$li--color-white,
	$li--color-warning,
	40%
) !default;
$li--color-warning-light-5: mix(
	$li--color-white,
	$li--color-warning,
	50%
) !default;
$li--color-warning-light-6: mix(
	$li--color-white,
	$li--color-warning,
	60%
) !default;
$li--color-warning-light-7: mix(
	$li--color-white,
	$li--color-warning,
	70%
) !default;
$li--color-warning-light-8: mix(
	$li--color-white,
	$li--color-warning,
	80%
) !default;
$li--color-warning-light-9: mix(
	$li--color-white,
	$li--color-warning,
	90%
) !default;

$li--color-danger-light-1: mix(
	$li--color-white,
	$li--color-danger,
	10%
) !default;
$li--color-danger-light-2: mix(
	$li--color-white,
	$li--color-danger,
	20%
) !default;
$li--color-danger-light-3: mix(
	$li--color-white,
	$li--color-danger,
	30%
) !default;
$li--color-danger-light-4: mix(
	$li--color-white,
	$li--color-danger,
	40%
) !default;
$li--color-danger-light-5: mix(
	$li--color-white,
	$li--color-danger,
	50%
) !default;
$li--color-danger-light-6: mix(
	$li--color-white,
	$li--color-danger,
	60%
) !default;
$li--color-danger-light-7: mix(
	$li--color-white,
	$li--color-danger,
	70%
) !default;
$li--color-danger-light-8: mix(
	$li--color-white,
	$li--color-danger,
	80%
) !default;
$li--color-danger-light-9: mix(
	$li--color-white,
	$li--color-danger,
	90%
) !default;

$li--color-info-light-1: mix($li--color-white, $li--color-info, 10%) !default;
$li--color-info-light-2: mix($li--color-white, $li--color-info, 20%) !default;
$li--color-info-light-3: mix($li--color-white, $li--color-info, 30%) !default;
$li--color-info-light-4: mix($li--color-white, $li--color-info, 40%) !default;
$li--color-info-light-5: mix($li--color-white, $li--color-info, 50%) !default;
$li--color-info-light-6: mix($li--color-white, $li--color-info, 60%) !default;
$li--color-info-light-7: mix($li--color-white, $li--color-info, 70%) !default;
$li--color-info-light-8: mix($li--color-white, $li--color-info, 80%) !default;
$li--color-info-light-9: mix($li--color-white, $li--color-info, 90%) !default;

$li--color-success-light: mix(
	$li--color-white,
	$li--color-success,
	80%
) !default;
$li--color-success-lighter: mix(
	$li--color-white,
	$li--color-success,
	90%
) !default;
$li--color-warning-light: mix(
	$li--color-white,
	$li--color-warning,
	80%
) !default;
$li--color-warning-lighter: mix(
	$li--color-white,
	$li--color-warning,
	90%
) !default;
$li--color-danger-light: mix($li--color-white, $li--color-danger, 80%) !default;
$li--color-danger-lighter: mix(
	$li--color-white,
	$li--color-danger,
	90%
) !default;
$li--color-info-light: mix($li--color-white, $li--color-info, 80%) !default;
$li--color-info-lighter: mix($li--color-white, $li--color-info, 90%) !default;

/// color|1|Font Color|2
$li--color-text-primary: #303133 !default;
/// color|1|Font Color|2
$li--color-text-regular: #606266 !default;
/// color|1|Font Color|2
$li--color-text-secondary: #909399 !default;
/// color|1|Font Color|2
$li--color-text-placeholder: #c0c4cc !default;

/// color|1|Border Color|3
$li--border-color-base: #dcdfe6 !default;
/// color|1|Border Color|3
$li--border-color-light: #e4e7ed !default;
/// color|1|Border Color|3
$li--border-color-lighter: #ebeef5 !default;
/// color|1|Border Color|3
$li--border-color-extra-light: #f2f6fc !default;

/// color|1|Background Color|4
$li--color-black: #000000 !default;
/// color|1|Background Color|4
$li--color-white: #ffffff !default;
/// color|1|Background Color|4
$li--background-color-base: #f5f7fa !default;

/// fontSize|1|Font Size|0
$li--font-size-extra-large: 20px !default;
/// fontSize|1|Font Size|0
$li--font-size-large: 18px !default;
/// fontSize|1|Font Size|0
$li--font-size-medium: 16px !default;
/// fontSize|1|Font Size|0
$li--font-size-base: 14px !default;
/// fontSize|1|Font Size|0
$li--font-size-small: 13px !default;
/// fontSize|1|Font Size|0
$li--font-size-extra-small: 12px !default;

/// fontLineHeight|1|Line Height|2
$li--font-line-height-primary: 24px !default;
/// fontLineHeight|1|Line Height|2
$li--font-line-height-secondary: 16px !default;

/// color|1|Border Color|3
$li--border-color-base: #dcdfe6 !default;
/// color|1|Border Color|3
$li--border-color-light: #e4e7ed !default;
/// color|1|Border Color|3
$li--border-color-lighter: #ebeef5 !default;
/// color|1|Border Color|3
$li--border-color-extra-light: #f2f6fc !default;

$li--border-width-base: 1px !default;
$li--border-style-base: solid !default;
$li--border-color-hover: $li--color-text-placeholder !default;
$li--border-base: $li--border-width-base $li--border-style-base
	$li--border-color-base !default;
/// borderRadius|1|Radius|0
$li--border-radius-base: 4px !default;
/// borderRadius|1|Radius|0
$li--border-radius-small: 2px !default;
/// borderRadius|1|Radius|0
$li--border-radius-circle: 100% !default;
/// borderRadius|1|Radius|0
$li--border-radius-zero: 0 !default;

/// boxShadow|1|Shadow|1
$li--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04) !default;
// boxShadow|1|Shadow|1
$li--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12) !default;
/// boxShadow|1|Shadow|1
$li--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;
/* Fill
-------------------------- */
$li--fill-base: $li--color-white !default;

/* Typography
-------------------------- */
$li--font-path: "fonts" !default;
$li--font-display: "auto" !default;
/// fontSize|1|Font Size|0
$li--font-size-extra-large: 20px !default;
/// fontSize|1|Font Size|0
$li--font-size-large: 18px !default;
/// fontSize|1|Font Size|0
$li--font-size-medium: 16px !default;
/// fontSize|1|Font Size|0
$li--font-size-base: 14px !default;
/// fontSize|1|Font Size|0
$li--font-size-small: 13px !default;
/// fontSize|1|Font Size|0
$li--font-size-extra-small: 12px !default;
/// fontWeight|1|Font Weight|1
$li--font-weight-primary: 500 !default;
/// fontWeight|1|Font Weight|1
$li--font-weight-secondary: 100 !default;
/// fontLineHeight|1|Line Height|2
$li--font-line-height-primary: 24px !default;
/// fontLineHeight|1|Line Height|2
$li--font-line-height-secondary: 16px !default;
$li--font-color-disabled-base: #bbb !default;
/* Size
-------------------------- */
$li--size-base: 14px !default;

/* z-index
-------------------------- */
$li--index-normal: 1 !default;
$li--index-top: 1000 !default;
$li--index-popper: 2000 !default;

/* Disable base
-------------------------- */
$li--disabled-fill-base: $li--background-color-base !default;
$li--disabled-color-base: $li--color-text-placeholder !default;
$li--disabled-border-base: $li--border-color-light !default;

/* Icon
-------------------------- */
$li--icon-color: #666 !default;
$li--icon-color-base: $li--color-info !default;
/* Button
-------------------------- */
/// fontSize||Font|1
$li--button-font-size: $li--font-size-base !default;
/// fontWeight||Font|1
$li--button-font-weight: $li--font-weight-primary !default;
/// borderRadius||Border|2
$li--button-border-radius: $li--border-radius-base !default;
/// padding||Spacing|3
$li--button-padding-vertical: 12px !default;
/// padding||Spacing|3
$li--button-padding-horizontal: 20px !default;

$li--button-hover-tint-percent: 20% !default;
$li--button-active-shade-percent: 10% !default;

/* Break-point
--------------------------*/
$li--sm: 768px !default;
$li--md: 992px !default;
$li--lg: 1200px !default;
$li--xl: 1920px !default;

$li--breakpoints: (
	"xs": (
		max-width: $li--sm - 1,
	),
	"sm": (
		min-width: $li--sm,
	),
	"md": (
		min-width: $li--md,
	),
	"lg": (
		min-width: $li--lg,
	),
	"xl": (
		min-width: $li--xl,
	),
);

$li--breakpoints-spec: (
	"xs-only": (
		max-width: $li--sm - 1,
	),
	"sm-and-up": (
		min-width: $li--sm,
	),
	"sm-only": "(min-width: #{$li--sm}) and (max-width: #{$li--md - 1})",
	"sm-and-down": (
		max-width: $li--md - 1,
	),
	"md-and-up": (
		min-width: $li--md,
	),
	"md-only": "(min-width: #{$li--md}) and (max-width: #{$li--lg - 1})",
	"md-and-down": (
		max-width: $li--lg - 1,
	),
	"lg-and-up": (
		min-width: $li--lg,
	),
	"lg-only": "(min-width: #{$li--lg}) and (max-width: #{$li--xl - 1})",
	"lg-and-down": (
		max-width: $li--xl - 1,
	),
	"xl-only": (
		min-width: $li--xl,
	),
);
